<div class="listing" listing="<%= listing_id %>">
	<p>
		<a href="#/" class="back">Back</a>
	</p>
	<hr>
	<img src="<%= MainImage.url_570xN %>">
	<hr>
	<h5><%= title %></h5>
	<pre><%= description %></pre>
	<a href="<%= url %>" target="_blank">Buy on Etsy</a>
</div>